<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blogs</title>
</head>
<body>
    <form method="post" action="/create/blog">
        <label>whoareyou:(please write your name!) </label>
        <input type="text" name="author" placeholder="what`s your name?">
        <br><br>
        <label>write something: </label>
        <input type="text" name="text" placeholder="write something!">
        <br>
        <input type="submit" value="create">
    </form>
</body>
</html>